@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

:root {
  --background-1: #000000;
  --foreground-2: #ffffff;
  --background-3: #f5f5f5;
  --background-dark: #0a0a0a;
  --background-blue: #0d1b2a;
  --background-purple: #1a152e;

  --foreground: #171717;
  --foreground-light: #404040;
  --foreground-dark: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
